<div class="container text-black rounded shadow-lg p-3 mb-5 text-center">
   <div class="container">
  
      <mat-form-field>
        <input  class="form-control mb-0" type="text"  placeholder="Usuario/Correo">
    </mat-form-field>
      <br>
      <mat-form-field>
        <input  class="form-control" type="password" placeholder="Contraseña">
    </mat-form-field>
      <br>
    </div>
    <mat-checkbox class="">Recordarme</mat-checkbox> <br>
      <button type="submit" class="btn btn-primary">Ingresar</button>
    <div class="xd">
      <a href="#">Recuperar contraseña</a>
      <br>
      <a routerLink="/register"> Crear cuenta</a>
    </div>
</div>
