 <mat-toolbar class="mat-elevation-z6" style="background-color: darkred;">
    <span style="color:white; font-size: 37px;">JEKMY</span>
     <button style="color: white; margin-left: 20px;" class="btn btn" routerLink="/register" > Registrarse</button>
     <button style="color: white;" class="btn btn" routerLink="/login" >Iniciar Sesion</button>
     <button style="color: white;" class="btn btn" routerLink="/">¿Quienes somos?</button>
     <button style="color: white;" class="btn btn" routerLink="/form">  Reserva tus horas aqui!</button>


  </mat-toolbar>

    
  <router-outlet></router-outlet>


<footer> <p style="text-align: center; margin-left: 10px;">Copyright &copy; 2020</p> </footer>
